# Ignore virtual environment
venv/


# Ignore AWS folder
aws/

# Ignore IDE-specific files (for PyCharm, for example)
.idea/
*.iml

# Ignore system-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore compressed files
model.tar.gz



database/edgeaihomeauto-firebase-adminsdk-fbsvc-e3ff352f44.json
src/logs/mosquitto.log
src/test.py
src/test.py
src/stream.py
src/logs/mosquitto.log
